.mobi-dv-head th, .mobi-dv-body th, .mobi-dv-foot td, .mobi-dv-body tfoot td {
    border: 1px solid black;
}
.mobi-dv-foot tr:first-child td {
    border-top: none;
}
.mobi-dv-body tr:first-child td {
    border-top: none;
}
.mobi-dv-body tr:last-child td {
    border-bottom: none;
}
.mobi-dv-det {
    border:1px solid black;
    border-bottom: none;
}
.mobi-dv-body tbody tr {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.mobi-dv-mst > div {
    overflow:auto;
    border-bottom: 1px solid black;
}

.mobi-dv-body tbody td {
    padding: .2em;
}


div.mobi-dv {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mobi-dv-mst {
    position: relative;
}

.mobi-dv > .mobi-dv-det {
    border: 1px solid black;
    border-bottom: none;
}
.mobi-dv > .mobi-dv-det:not([data-index]){
    display: none;
}

.mobi-dv-head {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.mobi-dv-body {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.mobi-dv-foot {
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.mobi-dv-head .mobi-dv-si {
    padding: .2em;
}
.mobi-dv-head .mobi-dv-si:not([class*='icon']) {
    display: none;
}

.mobi-dv-head > thead > tr, .mobi-dv-body > thead > tr {
    font-size: 16pt;
    font-weight: bold;
}

.mobi-dv-foot > tfoot > tr, .mobi-dv-body > tfoot > tr {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.mobi-dv-body > tbody > tr {
    font-size: 14pt;
}

.mobi-dv-body.ui-table td.mobi-dv-c-b {
    text-align: center;
}
