body{margin: 0px}h1{font-size:138.5%}h2{font-size:123.1%}h3{font-size:108%}h1,h2,h3{margin:1em 0}h1,h2,h3,h4,h5,h6,strong,dt{font-weight:bold}optgroup{font-weight:normal}abbr,acronym{border-bottom:1px dotted #000;cursor:help}em{font-style:italic}del{text-decoration:line-through}blockquote,ul,ol,dl{margin:1em}ol,ul,dl{margin-left:2em}ol{list-style:decimal outside}ul{list-style:disc outside}dl dd{margin-left:1em}th,td{border:1px solid #000;padding:.5em}th{font-weight:bold;text-align:center}caption{margin-bottom:.5em;text-align:center}sup{vertical-align:super}sub{vertical-align:sub}p,fieldset,table,pre{margin-bottom:1em}button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px}img{-ms-interpolation-mode:bicubic}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-bottom: 60px;
    line-height: 100%;
    font-size: 14px;
}

img{
    border: none;
}
a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a#viewAllDevices {
    margin-top: 50px;
    display: block;
}


    body, button, input, select, textarea {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        /*color: #6D6E71;*/
    }
    body{
        background-color: #222;
    }
    #header-container {
        background-attachment: scroll;
        background-clip: border-box;
        background-color: transparent;
        background-image: url("css-images/device-simulator-header.png");
        background-origin: padding-box;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 2079px 84px;
        height: 84px;
        margin-bottom: 0;
        position: relative;
        z-index: 999;
        box-shadow: 0px 1px 19px #E2E2E2;
    }
    * {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }   
    
    #header-container .logo {
        cursor: pointer;
        display: block;
        float: right;
        margin: 7px 15px 0 10px;
    }
    
    header nav {
        float: left;
        position: relative;
        z-index: 999;
    }
    header nav ul{
        margin: 0; padding: 0;
    }
    header nav > ul > li {
        float: left;
        list-style: none outside none;
        padding: 0 10px;
        position: relative;
        list-style: none outside none;
        line-height: 70px;
        height: 70px;
    }
    .info{
        font-size: 12px;
        float: left;
        padding: 11px;
        color: #EFEFEF;
        max-width: 100px;
    }
    
    
    #header-container h1{
        color: #E7E8E9;
        display: inline-block;
        float: left;
        font-size: 30px;
        text-shadow: 1px 1px 1px black;
        margin-left: 15px;
        margin-right: 10px;
    }
    @media screen and (max-width: 1100px) {  
        #header-container .logo{ display: none}
        #header-container h1{ 
            font-size: 20px;
            max-width: 200px;
            line-height: 20px;
            margin: 10px;
         }
    }
    @media screen and (max-width: 800px) {  
         #header-container h1{ 
            font-size: 20px;
            max-width: 160px;
            line-height: 20px;
            margin: 10px;
         }
         header nav > ul > li {
            padding: 0 5px;
         }
    }
    
    .icemobile-icon{
        float:left;height: 70px;line-height: 70px;
    }
    .icemobile-icon img{
        height: 56px;vertical-align: middle;padding-left: 15px;
    }
    @media screen and (max-width: 600px) {  
        .icemobile-icon img{ 
            padding-left: 10px;
            height: 20px;
            vertical-align: top;
            margin-top: 11px;
         }
         #header-container h1 {
             font-size: 16px;
             max-width: 75px;
             line-height: 16px;
             margin: 8px;
         }
         header nav > ul > li {
            padding: 0 3px;
         }
         .info{
              padding: 5px;
              font-size:11px;
              line-height:11px;
              max-width: 62px;
          }
    }
    @media screen and (max-width: 400px) {  
        .info {
             padding: 5px;
             font-size: 10px;
             line-height: 11px;
             max-width: 320px;
             margin-left: -243px;
             z-index: 999;
             margin-top: 66px;
             position: absolute;
             color: black;
        }
    }
    .icon{
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
    }
    .iphone-portrait-icon{
        background-image: url(css-images/iphone-portrait-icon.png);
        height: 40px;
        width: 20px;
    }
    .iphone-portrait-icon.active{
        background-image: url(css-images/iphone-portrait-icon-active.png);
    }
    .iphone-landscape-icon{
        background-image: url(css-images/iphone-landscape-icon.png);
        height: 20px;
        width: 40px;
    }
    .iphone-landscape-icon.active{
        background-image: url(css-images/iphone-landscape-icon-active.png);
    }
    .ipad-portrait-icon{
        background-image: url(css-images/ipad-portrait-icon.png);
        height: 60px;
        width: 48px;
    }
    .ipad-portrait-icon.active{
        background-image: url(css-images/ipad-portrait-icon-active.png);
    }
    .ipad-landscape-icon{
        background-image: url(css-images/ipad-landscape-icon.png);
        height: 48px;
        width: 60px;
    }
    .ipad-landscape-icon.active{
        background-image: url(css-images/ipad-landscape-icon-active.png);
    }

/*
 * Devices styles start
 */

.deviceWrap {
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 40px 0px 20px 0px;
}

.device {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.device .flashingTop,
.device .flashingBottom {
    position: absolute;
    left: 0;
    width: 100%;
}

.device .flashingTop {
    top: 0;
    padding-top: 2px;
}

.device .flashingBottom {
    bottom: 0;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 1px solid #d1d1d1;
}

.iphone-portrait {
    background-image: url(css-images/iphone-portrait.png);
    padding: 115px 0 117px 0px;
}
.iphone-portrait .device{
    width: 320px; height: 416px; padding-top: 20px;padding-bottom: 44px;
}
.iphone-landscape .device{
    width: 480px; height: 268px; padding-top: 20px;padding-bottom: 32px;
}
.ipad-portrait .device{
    width: 768px; height: 900px; padding-top: 236px;
}
.ipad-landscape .device{
    width: 1024px; height: 647px; padding-top: 123px;
}
#iphone-portrait{ width: 336px }
.mac #iphone-portrait{ width: 320px }
#iphone-landscape{ width:496px }
.mac #iphone-landscape{ width:480px }
#ipad-portrait{width:785px}
.mac #ipad-portrait{width:768px}
#ipad-landscape{width:1041px}
.mac #ipad-landscape{width:1024px}

.device-type{
    color: #FFF;
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    transform:rotate(-90deg);
    position: absolute;
    font-size: 32px;
    display: block;
    text-shadow: 0px 0px 15px #A4C9EB;
}
#iphone-portrait-device .device-type{
    margin-left: 298px;
    margin-top: 184px;
}
#iphone-landscape-device .device-type{
    margin-left: 200px;
    margin-top: 184px;
}
#slides .active .device-type{
    -ms-transform:rotate(0deg); /* IE 9 */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    -o-transform:rotate(0deg); /* Opera */
    transform:rotate(0deg);
    margin-left: 15px;
    margin-top: 21px;
}

.iphone-landscape {
    background-image: url(css-images/iphone-landscape.png);
    padding: 23px 0 24px 0px;
}

.ipad-portrait {
    background-image: url(css-images/ipad-portrait.png);
    padding: 0 0 265px 0;
}

.ipad-landscape {
    background-image: url(css-images/ipad-landscape.png);
    padding: 101px 0 103px 0;
}


/*
 * Slider
 */
 
#slider input {
    display: none;
}
#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
    width: 100%;
    overflow: hidden;
}

/*
article img {
    width: 100%;
}*/

#slides .inner {
    width: 500%;
    line-height: 0;
}

#slides article {
    width: 20%;
    float: left;
}


/* Animation */

#slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#scale{
    position: absolute;
    top: 130px;
    left: 14px;
    color: rgb(214, 214, 214);
    z-index: 999;
    padding: 6px 10px 10px;
    background-color: rgb(102, 102, 102);
    border-radius: 5px;
}
#scale span{
    display: inline-block;
    width: 200px;
}
#scale input[type='radio']{
    background-color: #666;
    -webkit-appearance: checkbox;
}

iframe .mobi-splitpane-scrollable::-webkit-scrollbar {
    width: 0;
}