#splitPane_left::-webkit-scrollbar, .mobi-pagePanel-body::-webkit-scrollbar {
    width: 0;
}
body, #splitPane_right{
    overflow-y: scroll;
}
html.iphone .mobi-pagePanel-header .mobi-button.mobi-button-back{ left: 4px; }