html,body{ height: 100%; }
div.info,div.success,div.warning,div.error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

div.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}

div.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('success.png');
}

div.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}

div.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('error.png');
}

span.success,span.error {
	margin: 5px 5px 5px 5px;
}

span.success {
	color: #4F8A10;
}

span.error {
	color: #D8000C;
}

#left, #right{
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:0;
    margin-bottom:0;
    float:left;
}
#right{
    width:70%;overflow-y:scroll;
}
#left{
    width:30%;overflow-y: scroll;
    border-right:1px solid darkgray;
}
.bberry .phdr{ color: #FFF; font-size:15px;}

.mobi-pagePanel-header .ui-icon-shadow {
   -moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4);
   -webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, .4);
   box-shadow: 0px 1px 0 rgba(255, 255, 255, .4);
}
.mobi-pagePanel-header .ui-icon-home {
   background-position: -570px 50%;
}
.mobi-pagePanel-header .ui-icon {
   background-repeat: no-repeat;
}
html.iphone .mobi-pagePanel-header .ui-icon,
html.ipad .mobi-pagePanel-header .ui-icon {
   background-image: url(icons-white.png);
}
html.android .mobi-pagePanel-header .ui-icon,
html.honeycomb .mobi-pagePanel-header .ui-icon,
html.bberry .mobi-pagePanel-header .ui-icon {
   background-image: url(icons-black.png);
}
#menuLink{
    font-size: 14px;
    padding: 0;
    line-height: 25px;
    margin-left: 0.3em;
    width: 30px;
    left: 0.3em;
    top: 4px;
    position: absolute;
    height: 25px;
}
html.bberry #menuLink{
    font-size: 13px;
}
