
.simRoot {
    width: 200px;
    height: 300px;
    background-color: #567;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -150px;
    z-index: 1000;
}

.galButton {
    border-radius: 8px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 60px;
    margin: 2px;
}

.simTitle {
    background-color:#999;
    background: -webkit-linear-gradient(top, #DDD, #999);
    padding: 4px;
    margin: 2px;
}

.simContact {
    background-color:#EEE;
    padding: 4px;
    margin: 2px;
    margin-top: 4px;
}

.simAugL {
    background-image: url(#{resource['org.icefaces.component.util:sim-augl.jpg']});
    height: 225px;
}

.simAugM {
    background-image: url(#{resource['org.icefaces.component.util:sim-augm.jpg']});
    height: 225px;
}

.simScan {
    background-image: url(#{resource['org.icefaces.component.util:sim-qrscan.jpg']});
    height: 225px;
}

.simClose {
    position:absolute;
    bottom:0;
    right:0;
    float:right;
}

.b1 {
    background-image: url(#{resource['org.icefaces.component.util:sim-one.png']});
}

.b2 {
    background-image: url(#{resource['org.icefaces.component.util:sim-two.png']});
}

.b3 {
    background-image: url(#{resource['org.icefaces.component.util:sim-three.png']});
}

.vid1 {
    background-image: url(#{resource['org.icefaces.component.util:sim-vid1.png']});
}

.mic1 {
    background-image: url(#{resource['org.icefaces.component.util:sim-snd1.png']});
}

