@mixin transition-duration($duration){
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}
@mixin transition-property($prop){
    -webkit-transition-duration: $prop;
    -moz-transition-duration: $prop;
    -o-transition-duration: $prop;
    transition-duration: $prop;
}
@mixin transform($transform){
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    tranform: $transform;
}
@mixin backface-visibility($vis){
    -webkit-backface-visibility: $vis;
    -moz-backface-visibility: $vis;
    -o-backface-visibility: $vis;
    backface-visibility: $vis;
}
@mixin border-radius($border){
    -webkit-border-radius: $border;
    border-radius: $border;
}

@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin box-shadow2($shadow1, $shadow2) {
    -moz-box-shadow: $shadow1, $shadow2;
    -webkit-box-shadow: $shadow1, $shadow2;
    box-shadow: $shadow1, $shadow2;
}

@mixin border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin linear-gradient($start, $end) {
    background: $start; /* Old browsers */
    background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $start 0%,$end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $start 0%,$end 100%); /* IE10+ */
    background: linear-gradient(to bottom, $start 0%,$end 100%); /* W3C */
}