.mobi-fieldset-row > input:last-child, 
.mobi-fieldset-row > select:last-child,
.mobi-fieldset-row > textarea:last-child {
	float: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.mobi-button-group{
	text-align:center;
}
.mobi-pagePanel-header, .mobi-pagePanel-footer{
	z-index: 9999;
}

.mobi-pagePanel-footer {
	color: #FFF;
	font-size:10pt;
	font-weight: bold;
	height:30px;
	padding:10px 5px 5px 5px;
}

#icemobileIcon{
	float: right;
	margin-top: -7px;
	margin-right: 16px;
}
#springIcon{
	float: left;
	margin-top: -7px;
	margin-left: 5px;
}
.js .ajaxHide{
	display:none;
}
.ajaxShow{
	display:none; /* Show only for Ajax clients */
}
.js .ajaxShow{
	display:block; /* Show only for Ajax clients */
}

.input{
	width: 100%;	
}

#largePhoto img{
	border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	margin-bottom: 5px;
}
.mobi-fieldset-row {
	padding: 10px;
}
.mobi-carousel {
	height: 76px;
}
.mobi-carousel-list li {
	width: auto;
}
.mobi-carousel-cursor {
	height: 5px;
	padding: 2px 0 3px 0;
}

.message-desc {
	opacity: 0.5;
	background-color: #B4B4B4;
	margin-top: -5px;
	border-bottom: 1px solid black;
	padding: 0 0 1px 0;
	width: 100%;
}
.message-desc h3{
    margin: 0 1em;
    text-align: center;
}

.imageViewer {
    width: 100%;
}

.mobi-list > .mobi-list-item > .mobi-list-item-default > a {
	background-position: 100% 89%;
	width: 100%;
	height: 50px;
	padding: 0;
	position: relative;
	margin: 0 8px 0 0;
}

.mobi-list-item {
	padding: 0;
}
.mediaLink .desc{
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 70%;
	font-size: 12px;
	font-weight: normal;
	float: left;
	padding: 10px;
	height: 50px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	display: inline-block;
}
.mediaLink .vote {
  color: grey;
  font-style: italic;
  height: 23px;
  margin-right: 21px;
  margin-top: 27px;
  padding: 0;
  position: absolute;
  right: 10px;
  text-align: right;
  width: 200px;
}

.p{
    padding-right:5px;border:none;float:left;height:50px;
}
.mobi-carousel-cursor-list { display:none;}
.mobi-carousel-list li > img{
	height:75px;
}
.mobi-carousel-list li div{
	overflow:hidden;
	height:75px;
}
html.android .mobi-pagePanel-header a,
html.honeycomb .mobi-pagePanel-header a,
html.bberry .mobi-pagePanel-header a{
	margin-left:0;
	padding: 4px 15px;
}
.mobi-pagePanel-header{ text-align:center;}

html.android input::-webkit-input-placeholder, html.honeycomb input::-webkit-input-placeholder,
html.android textarea::-webkit-input-placeholder, html.honeycomb textarea::-webkit-input-placeholder  {
	color:#333333;
}

input, textarea{ font-family: droid, Helvetica, Arial, sans-serif;}

.mobi-list .mobi-list-item a.editLink{
	position: absolute; 
	margin-top: -20px;
	height:20px;
	width:20px;
}