.view-play-icon {
	display: inline-block;
	height: 26px;
	left: 50px;
	margin: 0;
	position: relative;
	top: -32px;
	width: 33px;
	opacity: 0.7;
}

.mobi-pagePanel-footer {
	color: #FFF;
	font-size:10pt;
	font-weight: bold;
	height:30px;
	padding-top:10px;
}

#icemobileIcon{
	float: right;
	margin-top: -7px;
	margin-right: 5px;
}
#springIcon{
	float: left;
	margin-top: -7px;
	margin-left: 5px;
}
.js .ajaxHide{
	display:none;
}
.ajaxShow{
	display:none; /* Show only for Ajax clients */
}
.js .ajaxShow{
	display:block; /* Show only for Ajax clients */
}