
.mobi-menu-btn {
    display: inline-block;
}

.mobi-menu-btn-btn span, .mobi-menu-btn-btn{
    width: 125px;
    height: 20px;
    position: absolute;
}

.mobi-menu-btn-btn span{
    background: url('down-arrow.png') no-repeat right;
    padding-right: 15px;
}

.mobi-menu-btn-btn{
    border: 1px solid #38383b;
    border-top: 1px solid #505054;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #424246), color-stop(1, #3f3f42));
    background: -moz-linear-gradient(top, #424246, #3f3f42);
    background-color: #3f3f42;
    color: #FFFFFF;
    overflow: hidden;
    padding: 3px 24px 3px 8px;
}

.mobi-menu-btn-menu {
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    width: 175px;
    padding:4px;
    z-index: 5;
}

