/* Theme Roller compatibility */
.ui-icon-shadow {
    -moz-box-shadow: 0px 1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.4);
    box-shadow: 0px 1px 0 rgba(255,255,255,.4);
}
